@import "src/theme/variables.scss";
.add-announcement-container {
	justify-content: flex-start;
	align-items: center;
	margin-top: .5rem;
	
	.add-announcement-form {
		min-width: 315px;
		width: 50%;
		padding: 1rem;
		background-color: $secondary;
		border-radius: .5rem;

		.title-container, .description-container  {
			margin-bottom: 1rem;
			input {
				margin-top: .5rem;
			}
		}

		.form-actions {
			justify-content: space-between;
		}
	}
}