<div *ngIf="announcements.length; else noAnnouncements">
	<div class="announcement-item-container flex-col"
		*ngFor="let announcement of announcements | filter:searchAnnounce">
		<div class="announcement-navigation flex-row">
			<button (click)="editAnnouncement(announcement.id)" class="btn btn-edit">edit</button>
			<button (click)="removeAnnouncement(announcement)" class="btn btn-remove"></button>
		</div>
		<div class="detail-info-container flex-col">
			<h3>{{announcement.title}}</h3>
			<div class="flex-row">
				<a [routerLink]="['/announcement', announcement.id]">see details...</a>
				<span>added: {{announcement.timeAdded | date:'mediumDate'}}</span>
			</div>
		</div>
	</div>


	<div class="show-more-less" *ngIf="announcements.length > 3 && toLoadMore" (click)="seeAnnouncementsList()">show
		more</div>
	<div class="show-more-less" *ngIf="announcements.length > 4 && !toLoadMore" (click)="seeAnnouncementsList()">show
		less</div>
</div>

<ng-template #noAnnouncements>
	<app-loading></app-loading>
</ng-template>