@import "src/theme/variables.scss";
.announcement-item-container {
	max-width: 500px;
	min-width: 290px;
	height: $short-announcement_s;
	margin: 1rem auto;
	
	.announcement-navigation {
		width: 100px;
		border-radius: 5px 5px 0 0;
		align-items: center;
		justify-content: space-evenly;
		align-self: end;
		background-color:  $secondary;
		padding-top: 5px;

		.btn-remove:before,
		.btn-remove:after {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 3px;
			height: 15px;
			background-color: black;// should be variable
			transform: rotate(45deg) translate(-50%, -50%);
			transform-origin: top left;
			content: '';
		}
		.btn-remove:after {
			transform: rotate(-45deg) translate(-50%, -50%);
		}

		.btn-edit:hover, .btn-remove:hover {
			background-color: $hover;	
		}
	}
	.detail-info-container {
		border-radius: 5px 0 5px 5px;
		flex-grow: 1;
		justify-content: space-between;
		align-items: flex-start;
		overflow: hidden;
		background-color:  $secondary;
		padding: .5rem .8rem;
		
		h3 {
			max-height: 70px;
			display:-webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient:vertical;
			overflow: hidden;
		}
		div {
			width: 100%;
			justify-content: space-between;
			align-items: center;
		}
	}	
}
.show-more-less {
	text-align: center;
	vertical-align: middle;
	height: 25px;
	color: black;
}
