// ELEMENT SIZES
$short-announcement_s: 180px;

//GENERAL OFFSETS

//GENERAL COLORS
$primary: #aaaaaa;
$secondary: #b5c1b4;
$success: #dcd9c6;
$success_light: #7d8395;
$unusual: #dda969;
$unusual-light: #f0d0a9;

//----btn
$update: #7d8395;
$back: #a2a595;
$remove:#d11141;
$add: #76b4bd;
$hover: #35a79c;

//BREACKPOINTS
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
