@import "src/theme/variables.scss";
.announcement-details-wraper {
	height: auto;
	padding: 0 .3rem;
	
	
	.announcement-details-container {
		margin-right: .2rem;
		width: 60%;
		height: fit-content;
		padding: .5rem 1rem;
		overflow: hidden;
		background-color:  $secondary;
		border-radius: .5rem;
		span {
			margin: .5rem 0;
		}
	
		.announcement-details {
			justify-content: space-between;
			align-items: center;
			padding: .4rem 0;
	
			.btn:hover {
				background-color: $hover;
			}
		}
	
	}
	.similar-announcements-container {
		margin-left: .2rem;
		width: 40%;

		.similar-header {
			border-radius: .5rem;
			background-color: $unusual;
			padding: .2rem .3rem;
		}

		.similar-announcement {
			width:100%;
			min-height: 180px;
			margin-top: .5rem !important;
			justify-content: space-between;
			align-items: flex-start;
			border-radius: .5rem;
			overflow: hidden;
			background-color:  $unusual-light;
			padding: .2rem .3rem;

			.announcement-similar-info {
				h4,p {
					display:-webkit-box;
					-webkit-box-orient:vertical;
					overflow: hidden;
				}
				h4 {
					max-height: 70px;
					-webkit-line-clamp: 3;
				}
				p {
					margin-top: .3rem;
					max-height: 100px;
					-webkit-line-clamp: 5;
				}
				span {
					margin-top: 1rem;
				}
			}

			span {
				margin-top: .3rem;
				align-self: flex-end;
			}
		}
	}

}

.no-similar-announcements {

	justify-content: center;
	align-items: center;
	h3 {
		align-self: stretch;
	}
	p {
		margin-top: 1.5rem;
	}
}

@media screen and (max-width: $screen-sm) {
	.announcement-details-wraper {
		flex-direction: column;
		align-items: center;

		.announcement-details-container {
			width: 100%;
			margin: 0 .2rem;
		}
		.similar-announcements-container {
			width: 100%;
			margin-top: .7rem;
			margin-left: 0;
			.similar-announcement {
				span {
					margin: 0.5rem 0;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-xl) {
	.offset {
		padding: 0 15%;
	}
}