
//Button
button {
	@apply w-full  xs:w-fit h-12 text-lg font-syne font-semibold border border-solid border-bluegray-500 px-5 rounded-lg hover:bg-cyan duration-300;
}

//Input
input {
	@apply h-12 rounded-lg px-3 py-1 text-lg outline-none bg-green-sumergreen;
}

//Headers
h1 {
	@apply text-3xl
}

h2 {
	@apply text-2xl font-bold;
}

h3 {
	@apply text-lg font-normal;
}

h4, label {
	@apply text-base font-bold mb-1;
}

h5 {
	@apply text-sm;
}

h6 {
	@apply text-xs font-normal;
}

span {
	@apply font-bold text-sm text-bluegray;
}

.content-offset {
	@apply max-w-[1280px] px-5 pt-4 xs:px-20 md:px-40 xlg:px-48 2xlg:px-64 mx-auto;
}

.description-row {
	display:-webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient:vertical;
	overflow: hidden;
}