<div class="add-announcement-container flex-col" *ngIf="isLoaded; else noAnnouncement">
	<form [formGroup]="addAnnouncement" class="add-announcement-form flex-col" (ngSubmit)="addNewAnnouncement()">
		<div class="title-container flex-col">
			<label for="title">Title:</label>
			<input autocomplete="off" class="custom-input" id="title" type="text" formControlName='title'>
		</div>
		<div class="description-container flex-col">
			<label for="description">Description:</label>
			<input autocomplete="off" class="custom-input" id="description" type="text" formControlName='description'>
		</div>
		<div class="form-actions flex-row">
			<button [disabled]="addAnnouncement.invalid" [ngClass]="{'invalid': addAnnouncement.invalid}" type="submit"
				class="btn btn-add">add</button>
			<button class="btn go-back" [routerLink]="['/announcements']">back</button>
		</div>
	</form>
</div>
<ng-template #noAnnouncement>
	<app-loading></app-loading>
</ng-template>